body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.title-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-hero{
   width: 50%;
   padding-left: 45px; 
}
.half-hero img{
    width: 80%;
}
.button{
    color: white;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(90deg, salmon, tomato);
    padding: 10px 30px;
    border-radius: 5px;
}
.top-section{
    background-image: url(Resources/developer-portfolio/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(Resources/developer-portfolio/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(Resources/developer-portfolio/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;  
    height: 650px;
}
.experience-item{
    height: 400px;
    width: 35%;
    margin:  0% 3%;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    border-left: 10px solid;
}
#web-exp-bby{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;
}
#web-exp-pro{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}